.App {
  font-family: sans-serif;
  text-align: center;
}
body {
   background-color: bisque
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 0.5px solid black; 
  width: 30px;
  height: 50px;
}
.button:hover {
  background-color: white; 
  color: black;
}
.display{
  background-color: grey;
  width: 260px;
  height: 50px;
  text-align: center;
  display: inline-block;
}